extends layout
block content
  div
    // main
    .main-layouts.wrapper
      h1 Admin Registration Form
      .main-inputs
        .spacing
          form(action='/admin' method='POST'  name='signUpForm' onsubmit='register();')
              input.text(type='text' name='username' placeholder='username' )
              input.text.email(type='text' name='email' placeholder='Email')
              input.text.email(type='text' name='role' placeholder='Role')
              input.text( type='password' name='password' placeholder='Password' )
              input(type='submit' value='Register')
          p
            | Already have an Account? 
            a(href='./login')  Login Now!
    .footer
      .footer-bottom
        | &copy;  ufarm.com | Designed by Diana Apolat  
  script(src='js/signup.js')       