doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title FamerOne Dash Board
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh' crossorigin='anonymous')
  link(rel='icon' href='css/LOGO.png' type='image/gif' sizes='20x20')
  link(rel='stylesheet' href='css/dashboard.css')
div
  .row
    nav.navbar.navbar-expand-lg.navbar-light.bg-light.col-md-12
      img.col-md-3.mr-5(src='css/ulogo.png' alt='' style='width:10rem; height:5rem;')
      .col-md-8
        .navbar-brand.text-muted(style='padding-left: 20px;')
          h2
            strong
              i UFARM
        .float-right
          button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarTogglerDemo02' aria-controls='navbarTogglerDemo02' aria-expanded='false' aria-label='Toggle navigation')
            span.navbar-toggler-icon
          #navbarTogglerDemo02.collapse.navbar-collapse
            form.form-inline.my-2.my-lg-0
              input.form-control.mr-sm-2(type='search' placeholder='Search')
              button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search
            ul.navbar-nav.mr-auto.mt-2.ml-2
              li.nav-item
                a#logout.nav-link(href='./logIn') Logout
  .container-fluid
    .row.content.flex-container(style=' height: 500px')
      .col-sm-3.sidenav
        header.major
          img.avatar(src='./pic1.jpg' style='width: 80px; height: 80px;')
          br
          p
            a(href='' style='color: white;') Upload photo
        h5#username
        ul#dash.nav.nav-pills.nav-stacked.flex-sm-column.mt-4.list-group
          li.nav-link
            a(href='#' style='color: white;') Profile
          li.nav-link
            a(href='./ufarmData' style='color: white;') Register Urburn Farmer
          li.nav-link
            a(href='./ufarmerList' style='color: white;') Registered Urburn Farmer
        br
      .col-sm-9.main
        h3
          strong Dashboard
          span
            button.btn.btn-warning.float-right
              a(href='./ufarmerReg' style='color: white;') Register Urburn Farmer
        hr
        .col-md-5(style='border-right: solid 2px orange;')
          h5(style='text-decoration: underline;') Personal Details
          ul#details.list-group.list-group-flush
  .footer.container-fluid(style='color: orange;')
    h5
       i &copy; Ufarm 2020
  script(src='./userdashboard.js')     