doctype html
html
 head
   link(href='css/home.css' rel='stylesheet' type='text/css' media='all')
   link(href='css/index.css' rel='stylesheet' type='text/css' media='all')
   title= `${title}`
body
     block content