extends layout
block content
    .main-layouts.wrapper(style='padding: 60px;')
      h1 LogIn Form
      .main-inputs
        .spacing
          form(action='/logIn' method='POST')
            label(style='color: white;') User Name*:
            input.text(type='text' name='username' placeholder='User Name' )
            label(style='color: white;') Password*:
            input.text(type='password' name='password' placeholder='Password')
            input(type='submit' value='LogIn' id='login')
    script(src='js/login1.js')          